# IntelliJ IDEA
.idea
*.iml

# MacOS
.DS_Store

# Compiled output
out
target
jar

# java compiled contracts
DAPP/contracts/src/com/aldodaquino/cobra/contracts

# temporary files
author_content_files

# Microsoft Word
*.docx

# code2pdf
.code2pdf